# Ignore user specific config file
lacast.config.yaml
./config/symbolic_tests.properties
./config/numerical_tests.properties

# Since it is a maven project, we could ignore all files under .idea/
# But it would be better to keep the basics. That makes it a lot easier
# for new contributers to open the program in IntelliJ.
# Anyway, we ignore user specific directories and files
.idea/
*.iml

# Not sure if we should share .idea/libraries/
# It contains all maven dependencies.
#.idea/libraries/

# Ignore all compiled directories
out/
.out/
target/

# A bit redundant, but just to be sure, ignore all class files
*.class

# Working with logging files now. We should ignore these.
logs/
hs*.log

.venv
